@model mvc_basic.Models.Cities.CitiesViewModel
<partial name="_CityContainer" for="@Model" />
<form asp-controller="City" asp-action="Save" asp-route-id="@ViewData["id"]" method="post" id="Add">
    <label asp-for="@Model.CreateCityViewModel.Name">Name</label>
    <input asp-for="@Model.CreateCityViewModel.Name" value="@Model.CreateCityViewModel.Name" />
    <select asp-for="@Model.CreateCityViewModel.Country" value="@Model.CreateCityViewModel.Country">
        @foreach (var country in Model.Countrys)
        {
            <option value="@country.CountryId">@country.Name</option>
        }
    </select>
    <input type="submit" value="Save" />
</form>