<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport"content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/main.css" />
    </head>
    <body>
        <header>
            <img class="logo" runat="server" src="~/images/Logo.svg" />
            <nav>
                <ul>
                    <li>@Html.ActionLink("Index", "Index")</li>
                    <li>@Html.ActionLink("About", "About")</li>
                    <li>@Html.ActionLink("Contact", "Contact")</li>
                    <li>@Html.ActionLink("Projects", "Projects")</li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>@ViewBag.Title</h1>
            <div class="content">
                @RenderBody()
            </div>
        </main>
        
        <footer>
            <span>@DateTime.Now.Year </span> <span>Djzzz</span>
        </footer>
    </body>
</html>