@model mvc_basic.Models.People
<div>
    <a onclick="deletePerson('People', '@Model.PeopleId')">@Model.Name</a>
    <a>@Model.Number</a>
    <a>@Model.City.Name</a>
    <a>
        @if (Model.LanguagePeople != null)
        {
            @foreach (var lang in Model.LanguagePeople)
            {
                <span>|</span> @lang.Language.Name;
            }
        }
        <p><a asp-controller="People" asp-action="Edit" asp-route-id="@Model.PeopleId">Edit</a></p>
    </a>
</div>
    
